
#container{
position:absolute;
top:0%;
bottom: 0%;
left: 0%;
right: 0%;
background-color: #eefbf5;
}

#mainBar{
position:absolute;
top:0%;
bottom: 93%;
left: 0%;
right: 0%;
background-color: #8bdcb7;
}


#content_container{
position:absolute;
top:7%;
bottom: 0%;
left: 0%;
right: 15%;

}

#menu{
position:absolute;
top:7%;
bottom: 0%;
left: 85%;
right: 0%;
background-color: #a0dcef;
}

#menu_container{
position:absolute;
top:0%;
bottom: 50%;
left: 0%;
right: 0%;
background-color: #c9f9f7;
}

#greet{
position:absolute;
top:0%;
bottom: 88%;
left: 0%;
right: 0%;
background-color: #9aefeb;
}

#record{
position:absolute;
top:15%;
bottom: 68%;
left: 0%;
right: 0%;
background-color: #9aefeb;
}

#category{
position:absolute;
top:33%;
bottom: 50%;
left: 0%;
right: 0%;
background-color: #9aefeb;
}

#analysis{
position:absolute;
top:51%;
bottom: 32%;
left: 0%;
right: 0%;
background-color: #9aefeb;
}

li { list-style-type: none; }
.basic
{
    width: 300px;
    font-family: verdana;
    border: 1px solid #0000FF;
}
.basic div
{
    background-color: #FFFFFF;
}

.basic p {
    margin-bottom : 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    margin: 0px;
    padding: 10px;
}
.basic a
{
    cursor: pointer;
    display: block;
    padding: 5px;
    margin-top: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
    background-color: #00a0c6;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #999;
    background-image: url("../../images/mainPage/AccordionTab0.gif");
}
.basic a:hover
{
    background-color: white;
    background-image: url("../../images/mainPage/AccordionTab2.gif");
}
.basic a.selected
{
    color: black;
    background-color: #80cfe2;
    background-image: url("../../images/mainPage/AccordionTab2.gif");
}
