<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zsy.CloudMe.mybatis.dao.FirstCategoryMapper">

	<select id="getFirstCategoryByCode" parameterType="java.util.List"
		resultType="java.util.Map">
		select
		firstCategoryCode,
		firstCategoryName
		from account
		where
		firstCategoryCode in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>