#container_record
{
    position:absolute;
top:0%;
bottom: 0%;
left: 0%;
right: 0%;
}



/* 左侧类别管理容器*/
#left_container{
position:absolute;
top:0%;
bottom: 0%;
left: 0%;
right: 81%;
background-color: #ffeffc;
}


/* 以下，左侧类别选择栏*/

li { list-style-type: none; }
.basic
{
    /*width: 300px;*/
    position: absolute;
    left: 0%;
    right: 0%;
    font-family: verdana;
    border: 1px solid #0000FF;
}
.basic div
{
    background-color: #FFFFFF;
}

.basic p {
    margin-bottom : 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    margin: 0px;
    padding: 10px;
}
.basic a
{
    cursor: pointer;
    display: block;
    padding: 5px;
    margin-top: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
    background-color: #00a0c6;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #999;
    background-image: url("../../../images/iframe/record/AccordionTab0.gif");
}
.basic a:hover
{
    background-color: white;
    background-image: url("../../../images/iframe/record/AccordionTab2.gif");
}
.basic a.selected
{
    color: black;
    background-color: #80cfe2;
    background-image: url("../../../images/iframe/record/AccordionTab2.gif");
}

/*以上，左侧类别选择栏*/


/*中间部分*/

/*中间部分容器*/
#mid_container{
position:absolute;
top:0%;
bottom: 0%;
left: 19%;
right: 0%;
background-color: #ffffff;
}

/*中间，类别管理*/
#category_manage{
position:absolute;
top:0%;
bottom: 0%;
left: 0%;
right: 0%;
background-color: #e5fffe;
}


/*以上，中间部分*/